*{
    margin: 0;
    padding: 0;
    }
    body{
        background: url(banner.jpg) no-repeat center fixed;
        background-size: cover;
    }
    h1{
        text-align: center;
        color: whitesmoke;
        background: rgba(o,0,0,0.5);
        padding: 15px;
    }
    .registration{
        margin: auto;
        width: 50%;
        text-align: center;
        color: white;
        background: rgba(0,0,0,0.5);
        border: 2px solid whitesmoke;
        padding: 15px;
    }
    #name{
         width: 40%;
         padding: 5px;
         border-radius: 5px;
         border: 1px solid whitesmoke;
         outline: 0px;
         font-family: serif;
         font-size: 25px;
         background: none;
         color: whitesmoke;
    }
    #number{
        width: 32%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid whitesmoke;
        outline: 0px;
        font-family: serif;
        font-size: 25px;
        background: none;
        color: whitesmoke;
    }
    #num{
        padding: 7px 0px;
        border-radius: 5px;
        border: 1px solid whitesmoke;
        outline: 0px; 
        background: none;
        color: whitesmoke;
    }
    #check{
        font-family: serif;
        font-size: 18px;
    }
    #sub{
        width: 150px;
        padding: 5px;
        font-family: serif;
        font-size: 18px;
        border: 1px solid whitesmoke;
        outline: 0;
        border-radius: 5px;
        background: none;
        color: whitesmoke;   
    }
    #sub:hover{
        background: #0c6fd2;
    }
    ::placeholder{
        color: whitesmoke;
    }